@page "/"
@using MudBlazor
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <MudForm>
                <MudTextField T="string" Label="Username" Required="true" RequiredError="User name is required!" />
                <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!" />
                <MudTextField T="string" Label="Password" HelperText="Choose a strong password"
                InputType="InputType.Password" Required="true"
                RequiredError="Password is required!"/>
                <MudTextField T="string"
                Label="Password" HelperText="Repeat the password" InputType="InputType.Password"/>

                <div class="d-flex align-center justify-space-between">
                    <MudCheckBox T="bool" Required="true" RequiredError="You must agree" Label="I agree!"  />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                </div>
            </MudForm>   
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="Test">Simulate</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>
<div id="plot"></div>

@code {
    public class Data
    {
        public int[] X { get; set; } 
        public int[] Y { get; set; } 
    }

    private async Task Test()
    {
        Data data = new()
            {
                X = [1, 2, 3, 4, 5],
                Y = [1, 2, 4, 8, 16]
            };
        await JS.InvokeVoidAsync("test", data);
    }
}